<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-1">

    {% include sidebar.html %}

    <div class="content container">
      <div class="row">
        <div class="column">
          <img class="alignleft" src="/assets/headshot-resize-no-background.png" alt="" width="400" />
        </div>
        <div class="column">
          <p style="font-size:60px;">Hi, I'm Abate</p>
          {{ content }}
        </div>
      </div>
    </div>

  </body>
</html>
